<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Тестируем vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    -->
    <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    -->
    <script src="js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    -->
    <script src="js/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!--
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    -->
    <script src="js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/filesaver.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<!--<p><textarea rows="10" cols="45" name="text"></textarea></p>-->
<!--<div id="app">{{ message }}</div>-->
<div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary md-1">
        <a class="navbar-brand">Dismas Terminal</a>
    </nav>
    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-50">
            <div class="col-sm-5 col-md-5 col-lg-6 col-xl-6">
                <div class="row">
                    <div class="col-auto">
                        <label for="exampleFormControlInput1" class="col-form-label">Enter Blob ID ...</label>
                        <input v-model="blobid" type="text" class="form-control stand mb-2" id="exampleFormControlInput1"></input>
                    </div>
                    <div class="col-auto">
                            <label for="exampleFormControlInput1" class="col-form-label">Stand</label>
                            <select v-model="stand" class="form-control stand mb-2">
                                <option disabled value=" ">Stand ...</option>
                                <optgroup label="Пром">
                                    <option>EosagoPROM</option>
                                    <option>DikbmPROM</option>
                                    <option>BsiPROM</option>
                                    <option>EgarantPROM</option>
                                </optgroup>
                                <optgroup label="TCOPY">
                                    <option>EosagoTCOPY</option>
                                    <option>DikbmTCOPY</option>
                                    <option>BsiTCOPY</option>
                                    <option>EgarantTCOPY</option>
                                </optgroup>
                                <optgroup label="TNEXT">
                                    <option>EosagoTNEXT</option>
                                    <option>DikbmTNEXT</option>
                                    <option>BsiTNEXT</option>
                                    <option>EgarantTNEXT</option>
                                </optgroup>
                            </select>
                    </div>
                    <div class="col-auto">
                        <button @click="getBlob" class="btn btn-primary btn-outline-dark btn mb-2">Get Blob</button>
                        <button @click="getBlobResponse" class="btn btn-primary btn-outline-dark btn mb-2">Get Blob Response</button>
                        <button @click="saveBlob" class="btn btn-primary btn-outline-dark btn mb-2">Save File</button>
                        <!--<button @click="saveBlobTest" class="btn btn-primary btn-outline-dark btn mb-2">Save all BLobs</button>-->
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" class="col-form-label">Blob Body</label>
                    <textarea v-model="textarea" class="form-control mb-2" id="exampleFormControlTextarea1" rows="20" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="footer-copyright text-center py-3">© 2019 Copyright: Dismas
            <a href="https://gitlab.com/Dismas"> My Projects</a>
        </div>
    </footer>
</div>
<script src="js/main.js"></script>
</body>
</html>
