body {
    background-color: #fbfbfb;
}
textarea {
    background-color: #ffffff!important;
    font-size:1rem!important;
    height: 150%!important;
}

button.btn {
    color:#ffffff!important;
    margin-top:2.250rem;
}

.stand {
    max-inline-size: max-content;
}
.navbar-brand {
    color:#ffffff!important;
    font-size:2.5rem;
}
.navbar {
    border-bottom: 1px solid black;
}